<%= form_with model: prototype, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "商品名" %><br />
    <%= f.text_field :title, id:"prototype_title", placeholder:"商品名" %>
  </div>

  <div class="field">
    <%= f.label :detail, "詳細" %><br />
    <%= f.text_area :detail, class: :form__text, id:"prototype_detail", placeholder:"商品の特徴を記入" %>
  </div>

  <div class="field">
    <%= f.label :point, "ポイント" %><br />
    <%= f.text_area :point, class: :form__text, id:"prototype_point", placeholder:"例) あのモデルも愛用!" %>
  </div>

  <tr>
   <th class="detail-prototype">カテゴリー</th>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"genre-select"}) %>
  </tr>

  <div class="field">
    <div id="previews"></div>
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>