<h3 style="text-align:center">検索ページ</h3>
<div class='prototype-contents' id="detailed-search-result-wrapper" >
  <%= search_form_for @q, url: search_prototypes_path, html: { id: "detailed-search-form" } do |f| %>
    <div style="text-align:center">
      <div class="search-field" >
        <%= f.label :title, '商品名' %>
        <br>
        <%= f.text_field :title, placeholder: '商品名', value: params[:q]&.dig(:title) %>
      </div>
    </div>
    <div style="text-align:center">
      <div class="search-field" >
        <%= f.label :user_name_cont, '投稿者名' %>
        <br>
        <%= f.text_field :user_name_cont, placeholder: '投稿者名' %>
      </div>
    </div>
    <div style="text-align:center">
      <div class="search-field" >
        <%= f.label :category_id_in, 'カテゴリ' %>
        <br>
        <%= f.collection_check_boxes(:category_id_in, Category.all, :id, :name) %>
      </div>
    </div>
    <div style="text-align:center">
      <%= f.submit '検索', class: :form__btn %>
    </div>
  <% end %>
  <ul class='prototype-lists' id="detailed-search-result" >
    <% @prototypes.each do |prototype| %>
      <li class='list' >
      <div style="text-align:center">
        <div class="posted-content">
          <%= image_tag prototype.image, size: '320x240' %><br>
          <%= link_to prototype.title, prototype_path(prototype.id) %><br>
        </div>
      </div>
      </li>
    <% end %>
  </ul>
</div>